
.main_context{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: black;
}
.info_context{
    width: 60%;
    height: auto;
    background: rgb(173,215,155);
    background-color: #e4e7e0;
    color: white;
    display: flex;
    overflow: hidden;
    border-radius: 7px;
}
.margin{
    margin-left: 3.3rem;
}
.bio_context{
    width: 60%;
    background-color: #e4e7e0;
    color: white;
    border-radius: 7px;
}
.name{
    font-size: 3rem;

}
.bi ,.fa-solid,.fa-brands{
    font-size: 2rem;
}
.picHolder{
    position: relative;
}
.fa-pen{
    position: absolute;
    right: 4px;
    top: 6px;
    font-size: 24px;
}
.bi-folder-plus{
    color: #25371B;
    background-color: none;
    top: 100px;
    right: 100%;
    height: 100%;

}

img{
    width: 8rem;
    border-radius: 7rem;
    height: 8rem;
}

.upload{
    color: white;
  
}
.name-education {
    height: auto; /* Set height to auto */
}
.img-container{
    height: auto
}

.popup{
    height: auto;
    width: auto;
    position: absolute;
    background-color: #c7cac7;
}
#imageInput {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}
.bi{
    font-size: 2rem;
}
.bi-pencil-square{
    color: #25371B;
    background-color: none;
    left: 10px;
}

.tag{
    font-weight: 700;
}