<div class="container-fluid main_background  p-0">
    <app-dash-nav-auth></app-dash-nav-auth>
    <div class="main_context row mt-5">
        <div class="info_context row ms-5 ">
            <div class="img-container d-flex justify-content-between" *ngIf="display" style="height: 9rem;">

                <label for="imageInput" class="picHolder mt-2">
                    <img [src]="selectedImage ? selectedImage : 'assets/avatar.jpg'" alt="" class="col-12">
                    <i class="fa-solid fa-pen" style="color: #25371b;" (click)="navigateToAbout()"></i>
                    
                </label>
                <div class="text-end mt-5 me-5" style="color: black; font-weight: 600;">
                    {{Role}}
                </div>
            </div>
            <div class="img-container  d-flex justify-content-between" *ngIf="!display" style="height: 9rem;">

                <label for="imageInput" class="picHolder mt-2">
                    <img src="assets/avatar.jpg" alt="" class="col-12">
                    <i class="fa-solid fa-pen" style="color: #25371b;" (click)="navigateToAbout()"></i>

                </label>
                <div class="text-end mt-5 me-5" style="color: black; font-weight: 600;">
                    {{Role}}
                </div>
            </div>
            <div class="name col-12" style="color: black;">{{firstname}} {{lastname}}</div>
            <div class="name-education row fw-semibold mt-1 no-gutters">
                <div class="col-5 me-5"><i class="fa-solid fa-globe p-3"
                        style="color: #25371b;"></i><span>{{state}},{{country}} </span></div>
                <div class="col-5 ps-5" *ngIf='occupationFlag!=="ADVERTISER"'><i class="fa-solid fa-user-graduate p-3"
                        style="color: #25471b;"></i><span>{{education}} </span>
                </div>
                <!-- companyName -->
                <div class="col-5 ps-5" *ngIf='occupationFlag==="ADVERTISER"'><i class="fa-solid fa-building p-3" style="color: #25371b;"></i><span>{{companyName}}</span>
                </div>
            </div>
        </div>
        <div class="info_context margin  mt-4 row" *ngIf='occupationFlag!=="ADVERTISER"'>
            <div class="name-education col-12  fw-semibold">
                <div class="col-5 me-5"> <i class="fa-solid fa-briefcase p-3"
                        style="color: #25371b;"></i><span>{{occupation}}
                    </span>
                </div>

            </div>
            <div class="name-education  fw-semibold">
               <div class="row">
                <div class="col-5 "> <i class="fa-solid fa-business-time p-3" style="color: #25371b;"
                        *ngIf='occupationFlag!=="ADVERTISER"'></i><span>{{workexp}} </span></div>
                <div class="col-5 px-5 ms-4"><i class="fa-brands fa-react p-3" style="color: #25371b;"></i>
                    <span>{{skill}}
                    </span>
                </div>
            </div>
            </div>

        </div>
        <div class="bio_context margin mt-4 row py-3">
            <div class="biotext ms-3" ><i class="fa-regular fa-address-card" style="color: #25371b;font-size: 35px; font-weight: 600;"></i><span class="ms-3" style="font-size: 22px;">Bio</span></div>
            <div class="mt-2 ms-3" style="color: black; font-size: 22px;">
                {{bio}}
            </div>

        </div>



    </div>

</div>