
.main_context{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_context{
    width:60%;
    height: 85vh;
    background: rgb(173,215,155);
    background: linear-gradient(180deg, rgba(173,215,155,1) 10%, rgba(255,255,255,1) 100%);
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}
.toggle{
    width: 4rem;
    height: 4rem;
    background-color: #25371B;
    position: relative; /* Required for absolute positioning */
    border-radius: 4rem;
}


.plus-sign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 3px;
    background-color: white; /* White color for the plus sign */
}

.plus-sign::after {
    content: "";
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 30px;
    background-color: white; /* White color for the plus sign */
}

img{
    width: 14rem;
    border-radius: 7rem;
    height: 14rem;
}
div{
    color: #25371B;
}
.upload{
    color: white;
    background-color: #25371B;
    border-radius: 3px;
}
.name-education {
    height: auto; /* Set height to auto */
}
.img-container{
    height: auto
}

.popup{
    height: auto;
    width: auto;
    position: absolute;
    background-color: #c7cac7;
}
#imageInput {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}
.bi{
    font-size: 2rem;
}
.bi-person-plus-fill,.bi-x-lg{
    color: white;
}
.pencil-holder{
   background-color: #25371B;
   width:5rem;
   height:5rem;
   border-radius: 36px;
}