.post-body{
  width: 70%;
  height: auto;
  background-color: white;
}
.post-body-new{
  width: 95%;
  height: auto;
  background-color: white;
 
}


.info_context{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_context {
  background-color: #B7C6B1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  height: auto;
  padding: 0;
  position: relative;
}
.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: -1; /* Behind the popup */
}
.img-fluid{
  width: 100%;
  height: 25rem;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #B7C6B1;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
  z-index: 1; /* Above the backdrop */
}
.dptop{
  width: 2rem;
  height: 2rem;
  border-radius: 30px;
}
.post-body-header{
  width: auto;
  height: 3.5rem;
  background-color:#25371B;
  color: white;
}
.post-body-content{
  width: auto;
  height: 21rem;
  color: white;
}
.buylink{
  color: white;
}
.likeCounter{
  color: white;
  font-size: 28px;
}
.like_holder{
  display: inline;
}
.post-body-function{
  width: auto;
  height: 3.5rem;
  background-color: #25371B;
  display: flex;
  justify-content: space-between;
}
.post-body-cmmnt{
  width: auto;
  height: auto;
  background-color: #25371B;
  color: white;
}
.post-body-caption,.link_body{
  color: white;
  height: 3.5rem;
  background-color: #25371B;
}

.cmmnt{
  width: 85%;
  height: 2.4rem;
  border-radius: 20px;
}
.cmmnt-add{
  width: 60%;
  height: 2.4rem;
  border-radius: 20px;
}
img{
  width: 100%;
  height: 100%;
}
.dp{
  width: 5%;
  height: 90%;
  border-radius: 20px;
}
span{
  font-size: 30px;
}
.bi-heart-fill{
  color: white;
}
.bi-chat-left-fill{
  color: blue;
}
.bi-share-fill{
  color: white;
}
.bi-arrow-right-circle-fill{
  color: white
}
.originalPostBody{
  width: 40%;
  height: 5rem;
  background-color: #25371B;
  border-radius: 7px;
}
.dp_post{
  width: 4rem;
  height: 4rem;
  border-radius: 44px;
}
.upload_body{
  height: 80%;
  width: 100%;
  border-radius: 10px;
  font-weight: 200;
  
    
  background-color: white;
    
}
.add_span{
  background-color: white;
    height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 18px; 
  opacity: .7;
}
.btn{
  background-color: #25371B;
  color: white;
}