.post-body{
  width: 40%;
  height: auto;
  background-color: white;
}
.info_context{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_context {
  background-color: #B7C6B1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  height: auto;
  padding: 0;
}
.post-body-header{
  width: auto;
  height: 3.5rem;
  background-color:#25371B;
  color: white;
}
.post-body-content{
  width: auto;
  height: 21rem;
  color: white;
}
.post-body-function{
  width: auto;
  height: 3.5rem;
  background-color: #25371B;
}
.post-body-cmmnt{
  width: auto;
  height: 3.5rem;
  background-color: #25371B;
}
.post-body-caption{
  color: white;
  height: 3.5rem;
  background-color: #25371B;
}
.cmmnt{
  width: 85%;
  height: 70%;
  border-radius: 20px;
}

img{
  width: 100%;
  height: 100%;
}
.dp{
  width: 5%;
  height: 90%;
  border-radius: 20px;
}
span{
  font-size: 30px;
}
.bi-heart-fill{
  color: white;
}
.bi-chat-left-fill{
  color: blue;
}
.bi-share-fill{
  color: white;
}
.bi-arrow-right-circle-fill{
  color: white
}
