<div class="container-fluid main_background">
    <div class="navBarLogin">
        <div class="ms-5 mt-3 heading_btn">logo</div>
        <div class="me-5 mt-3">
            <button class="heading_btn px-2" routerLink="/register">Sign Up</button>
        </div>
    </div>
    <div class="main_context mt-5">
        <div class="info_context">
            <div class="login_info p-5">
                <h1 class="">Find your account</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label fw-semibold mt-5 mb-3" style="color: grey;">Please enter your email address to search for your account.</label>
                        <input type="email" class="form-control rounded_field" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
                        <div *ngIf="loginForm.get('email')?.errors as emailErrors">
                            <div *ngIf="emailErrors && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                                <p class="text-danger" *ngIf="emailErrors['required']">Email is required</p>
                                <p class="text-danger" *ngIf="emailErrors['email']">Invalid email format</p>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button type="submit" class="rounded_field cancel me-3" (click)="loginRollBack()">Cancel</button>
                        <button type="submit" class="rounded_field submit form-control" [disabled]="loginForm.invalid">Submit</button>
                    </div>
                </form>
            </div>
            <div class="login_pic">
                <img src="assets/find.jpg" alt="">
            </div>
        </div>
    </div>
</div>
