<div class="container-fluid main_background">
    <app-header-auth></app-header-auth>
    <div class="main_context mt-5">
        <div class="info_context text-center">
           <h1 class="mx-auto m-3">OTP</h1>
           <img src="assets/otp.jpg" alt="" class="rounded-circle">
           <div class="otp-text mt-4">
            <input type="text" maxlength="1" class="mx-2" (input)="onOtpInput($event, 0)">
            <input type="text" maxlength="1" class="mx-2" (input)="onOtpInput($event, 1)">
            <input type="text" maxlength="1" class="mx-2" (input)="onOtpInput($event, 2)">
            <input type="text" maxlength="1" class="mx-2" (input)="onOtpInput($event, 3)">
           </div>
           <button type="submit" class="rounded_field submit form-control mt-3" [disabled]="!isOtpComplete()">Submit</button>
           <button type="submit" class="rounded_field submit form-control mt-2" [disabled]="!isOtpCame"><i class="bi bi-arrow-repeat"></i></button>
        </div>
    </div>
</div>
