
.navbarContainer{
  width: 100%;
  background-color: #b7c6b1;
}
.navbar{
  background-color: #D3EACB;
  width: 93%;
  border-radius: 30px;
}
img{
  display: block; /* Ensure the image behaves like a block element */
  width: 4rem;
  height: 4rem;
  border: 2px solid #25371b;
  border-radius: 72px;

}

.navbar .nav-link {
  text-decoration: none;
  padding: 5px 10px; 
  margin: 0px 15px; 
}

.navbar .text-center {
  text-align: center;
}

input {
width: 80%; 
height: 80%;
border-radius: 10px;
}

.bi-search {
 font-size: 20px;
}


