
.navbarContainer{
  width: 100%;
  background-color: #b7c6b1;
}
.navbar{
  background-color: #D3EACB;
  width: 93%;
  border-radius: 30px;
}
img{
  display: block; /* Ensure the image behaves like a block element */
  width: 7rem; /* Ensure the image spans the full width of its container */
  height: 3rem; /* Allow the browser to calculate the height while maintaining aspect ratio */
  background-color: #25371b;
  mix-blend-mode: color-burn
}

.navbar .nav-link {
  text-decoration: none;
  padding: 5px 10px; 
  margin: 0px 15px; 
}

.navbar .text-center {
  text-align: center;
}

input {
width: 80%; 
height: 80%;
border-radius: 10px;
}

.bi-search {
 font-size: 20px;
}


