<app-dash-nav-auth></app-dash-nav-auth>
<div class="main_context">
    <div class="info_context">
        <div *ngFor="let request of pendingRequests" class="job my-3 ms-5 py-2 ps-2">
            {{ request.sender.name }} wants to be your friend  
            <span class="ms-3" (click)="acceptRequest(request.sender.username)"><i class="bi bi-check-lg"></i></span> 
            <span class="mx-3" (click)="rejectRequest(request.sender.username)"><i class="bi bi-ban"></i></span>
        </div>
    </div>

</div>